@font-face {
  font-family: "Star Jedi";
  src: url("/fonts/Starjedi.ttf");
}

body {
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.title {
  font-family: "Star Jedi";
  margin-top: 50px;
}

.toolbar {
  margin-bottom: 50px;
}

.name {
  font-family: "Star Jedi";
}

.character-card {
  transition: transform 0.3s ease;
}

.character-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.pagination {
  margin-top: 50px;
}
